<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sequelize Assignment</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
<div class="container">
{{{ body }}}
</div>


<hr>

<!-- Basic footer     -->
<div id="footer" class="container" style="height: 80px;">
  <footer class="text-center">
    <p>Last updated on 10/26/2017</p>
    <p>&copy; This Webpage was created by Christian A. using Bootstrap v4 alpha.</p>
  </footer>
<!-- End of the footer section   -->
</div>

<!-- Personal Javascript for any javascript needed to be added in addition to Bootstraps built in .js -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>

<style>
  body {
    margin: 20px;
  }
  #footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    color: white;
    background-color: black;
  }
  html {
    height: 100%;
    background-size:contain;
    background: url('http://businessandburgers.com/wp-content/uploads/2016/07/Burger-with-Flag-6.png') repeat center;
    width:100%;
  }
</style>
